.design-projects-div {
    margin-bottom: 200px;
}

.design-project-swiper {
    margin-bottom: 20px;
}

.design-project-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}