.object-card-div {
    display: block;
    position: relative;
    margin-bottom: 40px;
}

.object-card-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 180px;
    background-color: rgba(0, 0, 0, 0.75);
}

.object-card-text-div {
    position: absolute;
    bottom: 20px;
    right: 10px;
    display: flex;
}

.object-card-text {
    text-align: right;
    margin-bottom: 2px;
}