.design-project-div {
    margin-bottom: 40px;
}

.design-project-swiper-div {
    position: relative;
}

.design-project-swiper-shadows {
    pointer-events: none;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 1;
    box-shadow: inset 40px 0px 35px 0px rgba(17, 17, 17, 0.4), inset -40px 0px 35px 0 rgba(17, 17, 17, 0.4);
}

.design-project-swiper {
    height: 220px;
    margin-bottom: 10px;

}

.swiper-slide{
    width: fit-content;
}

.swiper-zoom-container {
    width: fit-content;
    height: fit-content;
}

.swiper-button-prev, .swiper-button-next {
    width: calc(var(--swiper-navigation-size) / 44 * 15);
    color: white;
}

.design-project {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.design-project-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}