.design-project-div {
    margin-bottom: 40px;
}

.design-project-swiper {
    height: 180px;
    margin-bottom: 20px;
}

.swiper-slide{
    width: fit-content;
}

.design-project-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}