.home-div {
    margin-bottom: 45px;
}

.swiper-container {
    position: relative;
    margin-bottom: 25px;
}

.gradiend {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.70));
    opacity: 1;
}

.home-div-swiper {
    z-index: 0;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
}

.home-main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.swiper-text-div {
    z-index: 2;
    position: absolute;
    bottom: 17px;
    left: 20px;
}

.swiper-title {
    margin: 0;
    margin-bottom: 12px;
    font-family: Ubuntu;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 6.25px;
    color: #C1C1C1;
}

.swiper-text {
    margin: 0;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 4.25px;
    color: #C1C1C1;
}

.home-text {
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 166.188%; /* 23.266px */
    letter-spacing: 2.1px;
    color: #C1C1C1;
}

.home-projects-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}

.home-our-projects-title {
    margin-bottom: 30px;
    color: #C1C1C1;
    font-family: Ubuntu;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 4.25px;
}

.more-projects-btn {
    align-self: center;
    color: #C1C1C1;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 2.1px;
    border: 1px solid #C1C1C1;
    padding: 10px 35px;
}

.home-about-div {
    margin-bottom: 70px;
}

.home-about-title {
    margin-bottom: 30px;
    color: #C1C1C1;
    font-family: Ubuntu;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 4.25px;
}

.home-about-text-div {
    background-image: url(img/lena-photo.png);
    background-repeat: no-repeat;
    background-position: right;
    /* background-size: contain;  */
}

.home-about-text {
    width: 60%;
    padding-top: 10px;
    padding-bottom: 30px;
    margin: 0;
    color: #C1C1C1;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 2.1px;
}

.price-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    width: calc(100% - 40px);
    padding: 10px 20px;
    border: 1px solid #C1C1C1;
}

.price-link-text {
    width: 30%;
    margin: 0;
    color: #C1C1C1;
    font-family: Ubuntu;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 4.25px;
}

.back-form-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    width: calc(100% - 40px);
    padding: 10px 20px;
    border: 1px solid #C1C1C1;

    margin-bottom: 180px;
}

.back-form-link-text {
    margin: 0;
    color: #C1C1C1;
    font-family: Ubuntu;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 4.25px;
}


/* 
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-container {
    position: relative;
}

.home-div-swiper-title {
    z-index: 99999;
    position: absolute;
    top: 1px;
    color: red;
} */

/* .swiper-pagination-bullet {
    background-color: #D9D9D9;
}

.swiper-pagination-bullet-active {
    background-color: #817B7B;
} */
