.header-logo {
    width: 140px;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.header-container-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger-lines {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 18px;
    width: 25px;
    background-color: transparent;
}

.line {
    display: block;
    height: 1px;
    width: 100%;
    border-radius: 10px;
    background: #C1C1C1;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.line1 {
    transform: rotate(45deg) translate(5px, 5px);
    width: 30px;
}
  
.line2 {
    opacity: 0;
    pointer-events: none;
}
  
.line3 {
    transform: rotate(-45deg) translate(7px, -7px);
    width: 30px;
}

.menu-modal-container {
    z-index: 100;
    position: absolute;
    top: 60px;
    visibility: hidden;
    width: 100vw;
    height: calc(100vh - 60px);
    min-height: auto;
    box-sizing: border-box;
    padding: 30px 50px;
    background-color: #111111;
}

.link-menu-modal {
    margin-bottom: 20px;
    text-align: left;
    font-family: Ubuntu;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 4.25px;
    color: #C1C1C1;
}

.title-menu-modal {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 12px;
    font-family: Ubuntu;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 3.75px;
    color: #C1C1C1;
}