.design-page-title {
    text-align: center;
    font-weight: 300;
    font-size: 17px;
    letter-spacing: 0.1em;
    color: #c1c1c1;
}

.design-page-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #c1c1c1;
}

.last-text {
    margin-top: 20px;
    margin-bottom: 40px;
}