.back-form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 65px 25px;
    background: linear-gradient(180deg, rgba(17, 17, 17, 0.69) 0%, rgba(17, 17, 17, 0.47) 50%, rgba(17, 17, 17, 0.02) 100%), url('./img/bg-img.jpg');
    background-repeat: no-repeat;
    background-size: cover; 

    margin-bottom: 200px;
}

.back-form-input {
    padding: 15px;
    margin-bottom: 30px;
    background: rgba(217, 217, 217, 0.80);
    border: none;
}

.back-form-input-message {
    min-height: 150px;
    resize: none;
}

.back-form-send-btn {
    align-self: center;
    padding: 12px;
    width: 150px;
    color: #C1C1C1;
    border: solid 1px #C1C1C1;
    
}