:root {
  display: flex;
  width: 100%;
  min-width: 300px;
  max-width: 500px;
  min-height: 100%;
  margin: auto;
  font-family: 'Ubuntu', sans-serif;
  color: #C0C3C4;
  background-color: #111111;
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
}

body {
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  padding: 30px;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
}


/*сброс стилей*/
button {
  background: none;
  border: none;
  padding: 0;
}

ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}

p {
  margin: 0;
}


/*глобальные стили*/
.title {
  margin: 0;
  margin-bottom: 40px;
  width: 100%;
  text-align: center;
  font-size: 22px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 5.5px;
  color: #C1C1C1;
}